h1 {
	text-align: center;
}

#selectBtn {
	background-color: #3D0C11;
	border-radius: 5px;
	border-color: #3D0C11;
	color: white;
	border-width: 2px;
	border-style: solid;
	margin-top: 5px;
}

#selectBtn:hover{
	border-color: #3D0C11;
	background-color: #FFFFFF;
	color: #3D0C11;
	cursor: pointer;
}

.carousel {
  position: relative;
}

.carousel__item {
  height: 80px;
  width: 80px;
  background: #6B9AC4;
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  display: none;
}

.carousel__item--selected {
  display: block;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  background: rgba(255, 255, 255, 0.5);
}
